<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Package source 1" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/9.0.100-rtm.24523.42-shipping-1/nuget/v3/index.json" />
    <add key="Package source 2" value="https://pkgs.dev.azure.com/dnceng/internal/_packaging/8.0.404-servicing.24523.8-shipping/nuget/v3/index.json" />
  </packageSources>
</configuration>
